
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<title>Test title</title>
</head>
<body>
<div id="wrapper">
<div id="header">
<h1>Title</h1><p>comment</p>
</div>  <!-- header -->
<div id="sidebar">
<h3>Menu</h3>
<p><a href="index.html">Home</a></p>
</div>  <!-- sidebar -->
<div id="contents">
<h1>Markdown</h1>
<p>markdown 記法についてメモ
なるべくシンプルを目指す。</p>
<h2>markdown とは</h2>
<ul>
<li>文章の書き方</li>
<li>手軽に文章構造を明示できる</li>
<li>簡単で覚えやすい</li>
<li>よくHTMLの代わりとして使われる</li>
<li>タグをあまり意識しなくていい</li>
</ul>
<h2>Markdown の基本の書き方</h2>
<h3>見出し Heading</h3>
<ul>
<li>見出しはシャープ記号を用いる</li>
<li>HTML の Heading タグに相当する</li>
<li>シャープ数により見出しの大きさを変更できる</li>
</ul><pre><code># (&lt;h1>タグに相当)
## (&lt;h2>タグに相当)
....
###### (&lt;h6>まで存在)
</code></pre><h3>Bold と Italic</h3>
<p>アスタリスクで囲むと <em>itaric</em> もしくは <strong>bold</strong> にできる</p><pre><code>*イタリック*
**太字**
</code></pre><h3>改行 と 段落</h3>
<p>改行：半角スペース二つを入れる<br />
段落：空行をあける  </p>
<h3>List</h3>
<ul>
<li>アスタリスクやハイフン, プラスを使う</li>
<li>階層を作ることも可能</li>
</ul><pre><code>* item
* item
* item
  * item
- item
- item
- item
</code></pre><p>番号付きにもできる</p><pre><code>1. item
2. item
3. item
</code></pre><h3>Code</h3>
<ul>
<li>バッククォートで囲むことでバッククォート内のものは特別な記号も含めて書式が保持される</li>
<li>よくソースコードなどを載せたいときに使用される</li>
<li>複数行の場合はバッククォート三つで囲む</li>
</ul>
<h3>Link</h3>
<p>カッコを使ってリンクも作成可能</p><pre><code>[Link_name](www.hogehoge.com)
</code></pre><h3>Images</h3>
<p>Markdown ファイル内に画像等を添付する</p><pre><code>![alt text](http://example.com/logo.png)
![alt text](image/img.png)
</code></pre>
</div>  <!-- contents -->
<div id="footer">
@copyright 2015 inner
</div>  <!-- footer -->
</div>  <!-- wrapper -->
</body>
</html>
